<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Contact Us</title>
  </head>
  <body>
    <%- include('partials/header') %>

    <section class="contact-section">
      <h1>Contact Us</h1>
      <p>
        If you have any questions or inquiries, feel free to get in touch with
        us using the form below. We are here to help you!
      </p>

      <form id="contactForm" action="/submit-contact-form" method="POST">
        <label for="name">Full Name:</label>
        <input type="text" id="name" name="name" required />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />

        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="5" required></textarea>

        <button type="submit">Send Message</button>
      </form>

      <div class="contact-info">
        <h2>Our Contact Information</h2>
        <p>Email: learnright@ourschool.com</p>
        <p>Phone: +234-901-2713755</p>
        <p>Address: 12 Graceland Lane, Education City, ED 12345</p>
      </div>
    </section>

    <%- include('partials/footer') %>

    <script src="/js/navbar.js"></script>
  </body>
</html>
