<footer>
  <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
  <a class="footer-link" href="https://twitter.com/">Twitter</a>
  <a class="footer-link" href="https://github.com/learnRight1">GitHub</a>
  <p class="copyright">
    &copy; 2020 Samuel Ezekiel @ the LearnRight Academy Portal. All rights
    reserved.
  </p>
</footer>
